script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/libs/popper.js/dist/umd/popper.min.js')
script(type='text/javascript', src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/libs/angular/angular.min.js')
script(type='text/javascript', src='/libs/chart.js/dist/Chart.min.js')
script(type='text/javascript', src='/libs/chart.js/dist/Chart.bundle.min.js')

link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
