html
    head
        title Index
    body
        h1= message
        hr
        ul
            li
                a(href='/pug') Pug(Jade) Template Example
            li
                a(href='/users') Routes Example
            li
                a(href='/middleware/session') Middleware:: session
            li
                a(href='/middleware/mysql') Middleware:: mysql
            li
                a(href='/middleware/elastic') Middleware:: elastic
