@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    padding-top: 56px;
    background: transparent;
}

#container{
    margin:auto;
    width: 100%;
    height: 100%;
    padding:3em 0 0;
    text-align:center;
    background:#DAD0BE;
    font-size:30px;
}

#searchform{
    display:inline;
    font-size:1em;
    border-radius: 40px;
    border:0.1em solid rgba(218,208,190,1);
    box-shadow:0 0 0.3em rgba(60,60,60,0.4);
    padding:0.3em;
    background:white;
}

#searchform label {
    width: 32px;
}

#s{
    transition:all 0.2s ease-out;
    width:1px;
    border-radius:0;
    box-shadow:none;
    outline: none;
    padding:0;
    margin:0;
    border:0;
    margin-left: 4px;  
    background-color: transparent;
    opacity:0;
}

#s:focus{
    width:8em;
    opacity:1;
}

label{
    padding-left: 1px;
    display:inline-block;
    margin-top: 15%;
    color:rgba(218,208,190,1);
    text-shadow:0 0 0.1em rgba(60,60,60,0.3);
    position: relative;
    left:0.1em;
}

.container {
    margin-top: 12px;
}
